/* General reset */
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Diwali lights container */
.diwali-lights {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
}

/* Diya container */
.diya-container {
    width: 100px;
    position: relative;
}

/* Left Diya container */
.diya-container.left {
    margin-right: -200px !important;
    padding-left: 20px; /* Adjusted padding */
}

/* Right Diya container */
.diya-container.right {
    margin-left: 154px !important;
    margin-right: 210px !important;
}

/* Diya base and flame styling */
.diya-base {
    height: 100px;
    width: 100px;
    background-color: #fdcf0f;
    border-radius: 0 0 100px 100px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.diya-shadow {
    height: 60px;
    width: 120px;
    background-color: rgba(25, 5, 71, 0.5);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

.diya-inner {
    width: 100px;
    height: 30px;
    background-color: #fd500a;
    border-radius: 50%;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.diya-flame {
    height: 50px;
    width: 50px;
    background-color: #fdf1c2;
    border-radius: 100px 0;
    transform: rotate(-45deg);
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    animation: scale-up 2s infinite;
}

@keyframes scale-up {
    50% {
        transform: rotate(-45deg) scale(1.05);
    }
}

/* Video container */
.ad-video-container {
    width: 60%;
    max-width: 500px;
    text-align: center;
}

.ad-video {
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .diwali-lights {
        flex-direction: column;
        align-items: center;
    }

    .diya-container {
        width: 80px;
        margin-bottom: 20px;
    }

    .ad-video-container {
        width: 90%;
        max-width: 300px;
    }
}
