/* .slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: flex; /* Use flexbox */
    /* justify-content: center; Center horizontally */
    /* align-items: center; Center vertically */
    /* width: 40px;
    height: 40px;
    padding: 0;
    transform: translateY(-50%);
    cursor: pointer;
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
    background-color: black; */
/* } */

/* .slick-prev {
    left: -350px;
} */

/* .slick-next {
    right: 1000px;
} */

/* .slick-prev:before, .slick-next:before {
    /* font-family: 'slick';
    font-size: 50px;
    line-height: 1;
    opacity: 0.75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '←'; Example for previous arrow */
/* }  */

/* .slick-next:before {
    content: '→'; /* Example for next arrow */
/* } */ 

/* .slick-prev:hover, .slick-next:hover {
    color: white;
    background-color: red;
} */


.blog-img>a img {
    width: 100%;
    float: left;
    height: 160px;
}
  .post_info h3 a {
    font-size: 13px;
}
  .blog-single-post p {
    font-size: 12px;
    line-height: 20px;
    
}
  
  .read_more_blog {
    background: #111;
    color: #fff !important;
    padding: 7px 10px !important;
    display: inline-block;
    font-size: 12px !important;
}
  
  .blog_news_peh {
    font-size: 12px;
    line-height: 24px;
}
  .post_info h3 a {
    padding-top: 0px;
}
  .blog-grid-posts .post_info {
    padding: 25px 20px 5px;
}
  .blog-grid-posts .blog-single-post p {
    margin-bottom: 5px;
}
  .blog-single-post p {
    font-size: 12px;
    line-height: 19px;
}
  
  .blog-grid-posts .post_info>h3 {
    font-size: 18px;
    margin-bottom: 5px;
}
  .section-heading h3, .section-heading h1 {
    font-size: 30px;
}
    @media only screen and (max-width: 767px) {
       
    }