.Advertisment .banner-slide > img {
  border-radius: 10px;
  object-fit: fill;
}

@media (max-width: 767px) {
  .banner-carousel .slick-slide .banner-slide,
  .banner-carousel .slick-slide > div:not(.banner_text),
  .banner-slide > img {
    height: 125px !important;
    -webkit-object-fit: cover;
    object-fit: cover;
    margin-left: -10px;
    width: 165px !important;
  }
}
@media (max-width: 450px) {
  .slick-arrow.slick-prev{
    display: none !important;
  }
  .slick-arrow.slick-next{
    display: none !important;
  }
}


.banner-carousel {
  height: 250px;
}

@media (max-width: 768px) {
  .banner-carousel {
    height: 75px;
  }
}