.property-list-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px; /* Added padding for better spacing */
}

.property-list {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap */
  justify-content: space-between; /* Distribute space evenly */
}

.property-card {
  border: 1px solid #ddd;
  padding: 0px;
  border-radius: 5px;
  height: 200px;
  width: calc(33% - 20px); /* Adjust width for three columns with spacing */
  margin-bottom: 20px; /* Spacing between rows */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  margin-left: -15px;
}

.property-card:hover {
  transform: scale(1.05);
}

.property-detail {
  padding: 5px;
}

.property-image {
  width: 100%;
  object-fit: cover; /* Maintain aspect ratio */
  cursor: pointer;
}

.property-details {
  text-align: center;
  margin-top: 10px;
}

.listed-owner-agent {
  display: flex;
  justify-content: space-between;
  font-size: small;
  margin-top: 5px;
  padding: 1px;
}

.property-name {
  font-size: 18px;
  font-weight: bold;
}

.property-details p {
  margin: 5px 0;
}
