.rent-faq {
    padding: 4rem 20px;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  .rent-faq h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .rent-faq-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
  }
  
  .rent-faq-item {
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
    cursor: pointer;
  }
  
  .rent-faq-question {
    font-size: 16px;
    /* font-weight: bold; */
    color: #333;
  }
  
  .rent-faq-answer {
    margin-top: 0.5rem;
    color: #555;
    font-size: 14px;
  }

  /* Responsive Styles for RentFAQ */

/* Laptop view adjustments */
@media only screen and (max-width: 1024px) {
  .rent-faq-container {
    padding: 0 20px;
  }
}

/* Mobile view adjustments */
@media only screen and (max-width: 768px) {
  .rent-faq {
    padding: 2rem 10px;
  }
  .rent-faq h2 {
    font-size: 24px;
    font-weight: 400;
  }
  .rent-faq-item {
    font-size: 1rem;
  }
  .user-details-form h2 {
    font-size: 25px; 
}
}

  