.rent-about {
    padding: 4rem 20px;
    background-color: #f1f1f1;
    text-align: center;
  }
  
  .rent-about-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .rent-about h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .rent-about p {
    font-size: 14px ;
    color: #333;
  }
  
  /* Responsive Styles for RentAbout */

/* Laptop view adjustments */
@media only screen and (max-width: 1024px) {
  .rent-about-container {
    padding: 0 20px;
  }
}

/* Mobile view adjustments */
@media only screen and (max-width: 768px) {
  .rent-about h2 {
    font-size: 2rem;
  }
  .rent-about p {
    font-size: 1rem;
  }
}
