/* Add this to your CSS file */
.product-wrap.custom-padding {
  padding: 0 !important;
  display: block !important;
}

.paginated_agents_scroll.page-scroll{
  height: fit-content;
  max-height: 500px;
}