h5.blackalpenliebe {
    color: black;
    font-size: 15px;
}

.agent-owner {
    text-align: center;
    color: red;
    margin: 10px;
}

img.d-block.w-100.img-fluid {
    height: 250px;
    object-fit: fill;
}