/* .footer_area {
    width: 100%;
    height: 100%;
    background-size: auto;
    background-position: bottom;
    padding-top: 20px;
    border-radius: 40px 0 0 0;
} */

.footer_area {
    background: url(../footer-bg.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: bottom;
    padding-top: 20px;
    border-radius: 40px 0 0;
}

.row.justify-content-between.rjcb{
    justify-content: center !important;
}
/* .bottom.section-padding {
    padding: 0px 0px 0px;
    overflow: hidden;
} */
@media only screen and (min-width: 0px) and (max-width: 500px) {
    .footer_area {
        background: url(../footer-bg.jpg);
        width: 100%;
        height: 2200px;
        background-size: cover;
        background-position: bottom;
        padding-top: 20px;
        border-radius: 40px 0 0;
    }
    .footer_logo{
        height: 22px !important;
        max-width: 138px ;
    }
}

.fci-icon svg:not(:root) {
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
    transition: ease-in.0.3s;
}

.fci-icon svg:not(:root):hover{
    color: white;
}

.footer-list .fc-icon{
    left: -10px;
    top: -4px;
}

.footer-list .fc-icon svg{
    height: 16px;
}

.fc-icon{
    left: -10px;
    top: -4px;
}

.ml-2{
    margin-top: 7px;
}