#main2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  
}
.message2{
    display: flex;
    flex-direction: column;
    /* border: 2px solid rgb(0, 0, 0); */
    padding: 30px 10px;
    text-align: center;
    height: 51vh;
    /* line-height: 25px; */
    box-shadow: 4px 5px 8px #a7a5a5;
    border-radius: 7px;
    width: 35vw;
}
.message2 h4{
    font-size: 16px;

    color: gray;
}
.message2 h1{
    font-size: 26px;
    color: red;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 4vh;
    margin-left: 30px;
}
.message2 h2{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
}
#paymentdata2{
        /* border: 2px solid #ddd7d7; */
           /* border: 2px solid #ddd7d7; */
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 7px 10px;
    box-shadow: 3px 3px 4px #cb4a4a;
    margin-top: 4vh;
    /* line-height: 40px; */
    margin-bottom: 1vh;
    height: 17vh;
    padding: 20px 2px;
}
#paymentdata2 p{
    font-size: 16px;
    line-height: 35px;
}
#sucess{
    width: 30%;
}
.payment2{
    display: flex;
    justify-content: space-around;
}
#lastline{
    margin-top: 15px;
    font-weight: 550;
    color: rgb(103, 102, 102);
}
#lastline span{
    color: green;
}
#paymentdata2 span{
    color: red;
    text-transform: uppercase;
    font-weight: 550;
    cursor: pointer;
}
@media only screen and (min-width: 0px) and (max-width: 500px) {

    .message2 {
        width: 95vw;
        height: 49vh;
     }
     .message2 h1{
        font-size: 18px;
     }
     .message2 h2 {
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
    }
    #paymentdata2 p {
        font-size: 12px;
        line-height: 22px;
    }

}
@media only screen and (min-width: 501px) and (max-width: 1000px){
    .message2 {
        width: 56vw;
        height: 34vh;
     }
     .message2 h1{
        font-size: 18px;
     }
     #paymentdata2{
        margin-top: 2vh;
     }
     .message2 h2 {
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
    }
    #paymentdata2 p {
        font-size: 12px;
        line-height: 22px;
    }
}
@media only screen and (min-width: 1001px) and (max-width: 1600px){
    #paymentdata2 p {
        font-size: 16px;
        line-height: 28px;
    }
}
@media only screen and (min-width: 1601px) and (max-width: 3000px){
    .message2 {
        display: flex;
        flex-direction: column;
        /* border: 2px solid rgb(0, 0, 0); */
        padding: 30px 10px;
        text-align: center;
        height: 51vh;
        /* line-height: 25px; */
        box-shadow: 4px 5px 8px #a7a5a5;
        border-radius: 7px;
        width: 32vw;
    }
}